    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Son of a Gun</h2>
                <p>Located in the rainy Pacific Northwest, we have worked hard to prove that even us Washingtonians can produce a damn good bbq.</p>
                <p>Our company, The Spice Hut, has been producing custom and original blends and spices for nearly 15 years, and this has been an important process for us to establish Son of a Gun, a fun and whimsical take on wild west grilling, and loaded with more flavor than you could imagine.</p>
                <img src="/img/snakebike-front.png" width="50%"><br/>
                <img src="/img/flatironsteak-front.png" width="50%"><br/>
                <img src="/img/reserveblend-front.png" width="50%"><br/>
                <img src="/img/tennessewhiskey-front.png" width="50%"><br/>
            </div>
        </div>
    </section>
