    <!-- Blends Section -->
    <section id="blends" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div>
                  <a href="https://thespicehut.com/products/snake-bite-son-of-a-gun-seasonings" class="btn btn-default btn-lg">Snake Bite</a>
                  <a href="https://thespicehut.com/products/flat-iron-steak-son-of-a-gun-seasonings" class="btn btn-default btn-lg">Flat Iron</a>
                  <a href="https://thespicehut.com/products/best-in-the-west-son-of-a-gun-seasonings" class="btn btn-default btn-lg">Reserve Blend</a>
                  <a href="https://thespicehut.com/products/tennesse-whiskey-bbq-son-of-a-gun-seasonings" class="btn btn-default btn-lg">Tennesse Whiskey</a>
                </div>

                <div>
                  <a href="https://thespicehut.com/products/snake-bite-son-of-a-gun-seasonings"><img src="/img/snakebite-front.png" width="50%" style="float: left"></a>
                  <a href="https://thespicehut.com/products/flat-iron-steak-son-of-a-gun-seasonings"><img src="/img/flatironsteak-front.png" width="50%" style="float: right"></a>
                  <div style="float: left; width: 50%">
                    <a href="https://thespicehut.com/products/snake-bite-son-of-a-gun-seasonings"><h3>Snake Bite</h3></a>
                    <br>
                    <p>This is our seasoning with a KICK. Lots of delicious spice to this blend. Packed full of flavor, with just enough of a bite to excite you and your friends. </p>
                    <br/><br/><br/>
                  </div>
                  <div style="float: right; width: 50%">
                    <a href="https://thespicehut.com/products/flat-iron-steak-son-of-a-gun-seasonings"><h3>Flat Iron Steak</h3></a>
                    <br>
                    <p>Herby, natural flavors in the first bite. Works well as a meat tenderizer, the saltiness is absorbed to produce a juicy outcome.</p>
                    <br/><br/>
                  </div>
                </div>
                <br/><br/><br/>




                <div>
                  <a href="https://thespicehut.com/products/best-in-the-west-son-of-a-gun-seasonings" ><img src="/img/reserveblend-front.png" width="50%" style="float: left"></a>
                  <a href="https://thespicehut.com/products/tennesse-whiskey-bbq-son-of-a-gun-seasonings" ><img src="/img/tennessewhiskeybbq-front.png" width="50%" style="float: right"></a>
                  <div style="float: left; width: 50%">
                    <a href="https://thespicehut.com/products/best-in-the-west-son-of-a-gun-seasonings" ><h3>Reserve Blend</h3></a>
                    <br>
                    <p> Sweet and spicy flavor. A brown sugar base makes food have a refreshing sweet taste, and the cayenne pepper gives a mild kick to the meal. Lower in sodium. The smokey after tones in this rub are great for grilling. </p>
                    <br/><br/>
                  </div>
                  <div style="float: right; width: 50%">
                    <a href="https://thespicehut.com/products/tennesse-whiskey-bbq-son-of-a-gun-seasonings" ><h3>Tennesse Whiskey BBQ</h3></a>
                    <br>
                    <p>A mild southwest flavor packed with rich ingredients and a bit of vest for next level barbecuing. A well rounded, all-purpose seasoning great for quick and easy cooking. </p>
                    <br/><br/>
                  </div>
                </div>
                <br/><br/><br/>


            </div>
        </div>
    </section>
