    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <h2>Son of a Gun Seasonings</h2>
            <br>
            <div style="font-size: 150%">
              <a  href="https://www.facebook.com/thespicehut" class="fa fa-facebook"><i class="fab fa-facebook-square"></i><span class="label"></span></a>
              <a  href="https://www.instagram.com/thespicehut" class="fa fa-instagram"><span class="label"></span></a>
              <a  href="https://www.amazon.com/thespicehut" class="fab fa-amazon"><i class="fab fa-amazon"></i><span class="label"></span></a>
            </div>

            <br>
            <p>Copyright &copy; <a href="http://thespicehut.com/">The Spice Hut</a> 20{{ site.time | date: '%y' }}</p>
        </div>
    </footer>
