    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <h2>Son of a Gun Seasonings</h2>
            <br>

              <a target="_blank" href="https://www.facebook.com/thespicehut" class="fab fa-facebook-square"><span class="label"></span></a>
              <a target="_blank" href="https://www.instagram.com/thespicehut" class="fa fa-instagram"><span class="label"></span></a>
              <a target="_blank" href="https://www.amazon.com/thespicehut" class="fab fa-amazon"><span class="label"></span></a>

            <br>
            <p>Copyright &copy; <a href="http://thespicehut.com/">The Spice Hut</a> 20{{ site.time | date: '%y' }}</p>
        </div>
    </footer>
