    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Buy Son of a Gun Seasoning</h2>
                    <p>Get your favorite BBQ spice blends sent directly to you. Available through thespicehut.com and amazon.com</p>
                    <a href="http://thespicehut.com/pages/all-products" class="btn btn-default btn-lg" style="color: white; font-size: 150%;">Shop Now</a>
                </div>
            </div>
        </div>
    </section>
